@page
@model SeidoDbWebApiConsumerMVC.Pages.CustomersModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Customer List";
}
<div class="row">
    <h1 class="display-2">@ViewData["Title"]</h1>
    <table class="table">
        <thead class="thead-inverse">
            <tr><th>Customer Detail</th></tr>
        </thead>
        <tbody>
            @if (Model.Customers != null)
            {
                @foreach (var cust in Model.Customers)
                {
                    <tr>
                        <td>@cust</td>
                        <form method="post">
                            <td><button class="btn btn-default" asp-page-handler="delete" asp-route-id="@cust.CustomerID.ToString()">Delete</button></td>
                            <td><button class="btn btn-default" asp-page-handler="edit" asp-route-id="@cust.CustomerID.ToString()">Edit</button></td>
                        </form>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div class="row">
    <div class="container">
        <div class="row align-items-start">
            <div class="col">
                <p>Enter details for a new Customer</p>
                <form method="post">
                    <div><input asp-for="NewCustomer.FirstName" placeholder="Firstname"/></div>
                    <div><input asp-for="NewCustomer.LastName" placeholder="Lastname"/></div>
                    <div><input asp-for="NewCustomer.Adress" placeholder="Adress"/></div>
                    <div><input asp-for="NewCustomer.ZipCode" placeholder="Zipcode"/></div>
                    <div><input asp-for="NewCustomer.City" placeholder="City"/></div>
                    <div><input asp-for="NewCustomer.Country" placeholder="Country"/></div>
                    <div><input asp-for="NewCustomer.BirthDate" placeholder="Birthdate"/></div>
                    <button class="btn btn-primary">Add</button>
                </form>
            </div>
            <div class="col">
                <p>Edit details for an existing Customer @Model.UpdatedCustomer?.CustomerID</p>
                <form method="post">
                    <div><input asp-for="UpdatedCustomer.FirstName" placeholder="Firstname"/></div>
                    <div><input asp-for="UpdatedCustomer.LastName" placeholder="Lastname"/></div>
                    <div><input asp-for="UpdatedCustomer.Adress" placeholder="Adress"/></div>
                    <div><input asp-for="UpdatedCustomer.ZipCode" placeholder="Zipcode"/></div>
                    <div><input asp-for="UpdatedCustomer.City" placeholder="City"/></div>
                    <div><input asp-for="UpdatedCustomer.Country" placeholder="Country"/></div>
                    <div><input asp-for="UpdatedCustomer.BirthDate" placeholder="Birthdate"/></div>
                    <button class="btn btn-primary" asp-page-handler="update" asp-route-id="@Model.UpdatedCustomer?.CustomerID.ToString()">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>