@page
@model SeidoDbWebApiConsumerMVC.Pages.PearlsModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Black Pearl API";
}
<div class="row">
    <h1 class="display-2">@ViewData["Title"]</h1>
    <table class="table table-striped">
        <thead class="thead-inverse">
            <tr><th class="table-dark">Pearls in necklace with id @Model.Necklace.NecklaceID (@Model.Necklace.Country, @Model.Necklace.NecklaceType)</th></tr>
        </thead>
        <tbody>
            @if (@Model.Necklace != null)
            {
                decimal sum = 0;

                @foreach (var pearl in @Model.Necklace.Pearls)
                {
                    <tr>
                        <td>@pearl</td>
                    </tr>

                    sum += pearl.Price;
                }

                <tr class="table-dark">
                    <td>Total Price: @sum</td>
                </tr>
            }
        </tbody>
    </table>
</div>
